@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

html {
    font-size: 22px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Rufina', serif;
    font-size: 3.9rem;
}
.container {
    max-width: 1377px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #224F34;
}